#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.product {
  padding-top: 15px;
}

.product button {
  margin: 0 10px;
}

.product-wrapper input {
  width: 200px;
  height: 30px;
  margin-bottom: 15px;
  padding: 0 15px;
}

.counter {
  display: inline-block;
  margin-left: 20px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
